# Git
.git
.gitignore

# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv

# Testing
coverage
.pytest_cache

# IDEs
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Archives
.archives

# Misc
*.md
LICENSE
.env*.local
